.post {
    border-top-width: 4px;
    border-color: blue;
    border-style: solid;

}
.post_margi{
    border-radius: 100%;
}
.post_title{
    font-size: 14px;
    font-style: italic;
    margin: 5;
}
.post{
    background: rgb(42, 160, 75) ;
    padding: 14px;
    border: 3px solid #000;
    margin-bottom: 17px;
}
.post_image{
    margin-bottom: 17px; 
}